/* Document info */

.card-header {
    border-bottom: none;
}

.card-header nav {
    box-shadow: none;
}

.table-accordion tr:first-child td {
    border-top: none;
}

/* Document creation */

#fitem_id_sourcetext .atto_image_button,
#fitem_id_sourcetext .atto_h5p_button {
    display: none;
}

/* Document analysis */

#fitem_id_transcription .atto_image_button,
#fitem_id_transcription .atto_h5p_button {
    display: none;
}

/* Questions form */

.local_nolej_question {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 24px 0 #0000000d, 0 0 0 1px #00000014;
    margin: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.local_nolej_question .badge {
    color: #545659;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.5rem -0.5rem;
    padding: 4px 12px;
    border-radius: 0 6px 6px 0;
    width: fit-content;
}

.local_nolej_question .badge.open {
    background-color: #9cd6f552;
    border-left: 2px solid #9cd6f5;
}

.local_nolej_question .badge.ftb {
    background-color: #fff9e7;
    border-left: 2px solid #ffd966;
}

.local_nolej_question .badge.tf {
    background-color: #e6b8e752;
    border-left: 2px solid #e6b8e7;
}

.local_nolej_question .badge.mcq {
    background-color: #c7d2ff52;
    border-left: 2px solid #c7d2ff;
}

.local_nolej_question .badge.hoq {
    background-color: #c7f0f3;
    border-left: 2px solid #7db5b9;
}

/* Content limits */

.limit-container {
    margin-bottom: 20px;
    margin-top: calc(0.375rem + 1px);
}

/* Range form element */

.range-form-element {
    margin-top: -1.5rem;
}