{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_nolej/documentinfo

    Context variables required for this template:
    * title
    * libraryurl
    * showinfo
    * source
    * sourcetype
    * transcription

    Example context (json):
    {
        "title": "My Nolej Module",
        "libraryurl": "mymoodle.com/local/nolej/manage.php",
        "showinfo": true,
        "source": "https://www.youtube.com/...",
        "sourcetype": "Video",
        "transcription": "This is the transcription of the video"
    }
}}

<div class='container px-0 mb-5'>
    <div class="text-left mb-3 mt-2">
        <a href="{{{libraryurl}}}">
            {{#pix}} i/return, core {{/pix}}
            {{#str}} backtolibrary, local_nolej {{/str}}
        </a>
    </div>
    <h2>{{title}}</h2>
</div>

{{#showinfo}}
<div class='container container px-3 mb-5'>
    <div id='accordion'>
        <div class='card'>
            <div class='card-header border-bottom-0' id='headingOne'>
                <a href='#' class='btn btn-default w-100 d-flex align-items-center' id='toggleinfo' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne'>
                    {{#pix}} docs, core {{/pix}}
                    <div class='w-100 text-left mx-2'>{{#str}} documentinfo, local_nolej {{/str}}</div>
                    {{#pix}} t/collapsed, core {{/pix}}
                </a>
            </div>

            <div id='collapseOne' class='collapse' aria-labelledby='headingOne' data-parent='#accordion'>
                <div class='card-body'>
                    <table class='table table-accordion'>
                        <tbody>
                            <tr>
                                <td class="border-top-0"><b>{{#str}} title, local_nolej {{/str}}</b></td>
                                <td class="border-top-0">{{title}}</td>
                            </tr>
                            <tr>
                                <td><b>{{#str}} source, local_nolej {{/str}}</b></td>
                                <td>{{source}}</td>
                            </tr>
                            <tr>
                                <td><b>{{#str}} sourcetype, local_nolej {{/str}}</b></td>
                                <td>{{sourcetype}}</td>
                            </tr>
                            {{#transcription}}
                                <tr>
                                    <td><b>{{#str}} transcription, local_nolej {{/str}}</b></td>
                                    <td>{{{transcription}}}</td>
                                </tr>
                            {{/transcription}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{/showinfo}}
