{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_nolej/manage

    Context variables required for this template:
    * modules
        * (array)
            * moduleid
            * documentid
            * title
            * created
            * status
            * lastupdate
            * ispending
            * iscompleted
            * isfailed

    Example context (json):
    {
        "modules": [
            {
                "moduleid": 1,
                "documentid": "abcd-efgh",
                "title": "My Nolej Module",
                "created": "2024-01-01 10:00",
                "status": "Analysis ready",
                "lastupdate": "2024-01-01 12:00",
                "ispending": false,
                "iscompleted": false,
                "isfailed": false
            }
        ]
    }
}}

<div class="d-flex justify-content-between align-items-center">
    <h2>{{#str}} modules, local_nolej {{/str}}</h2>
    <div class="text-right mb-3 mt-2">
        <button type="button" class="btn btn-primary" onclick="location.href='{{{createurl}}}'">
            {{#pix}} e/insert, core {{/pix}}
            {{#str}} createmodule, local_nolej {{/str}}
        </button>
    </div>
</div>

<div class="table-responsive-xl">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">{{#str}} title, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} created, local_nolej {{/str}}</th>
            <th scope="col" colspan="2">{{#str}} status, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} lastupdate, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} actions {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#modules}}
            <tr id="local_nolej_module_{{moduleid}}">
                <td class="local_nolej_title">{{title}}</td>
                <td class="local_nolej_created">{{created}}</td>
                <td class="local_nolej_status_icon pr-1">
                    {{#ispending}}<i class="spinner-border spinner-border-sm float-right text-secondary" aria-hidden="true"></i>{{/ispending}}
                    {{#iscompleted}}<i class="fa fa-check text-primary" aria-hidden="true"></i>{{/iscompleted}}
                    {{#isfailed}}<i class="fa fa-times text-danger" aria-hidden="true"></i>{{/isfailed}}
                </td>
                <td class="local_nolej_status pl-1">{{status}}</td>
                <td class="local_nolej_lastupdate">{{lastupdate}}</td>
                <td>{{{actions}}}</td>
            </tr>
        {{/modules}}
    </tbody>
    </table>
</div>
