{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_nolej/manage

    Context variables required for this template:
    * modules
        * (array)
            * moduleid
            * documentid
            * title
            * created
            * status
            * lastupdate
            * editurl
            * activitiesurl

    Example context (json):
    {
        "modules": [
            {
                "moduleid": 1,
                "documentid": "abcd-efgh",
                "title": "My Nolej Module",
                "created": "2024-01-01 10:00",
                "status": "Analysis ready",
                "lastupdate": "2024-01-01 12:00",
                "editurl": "https://mymoodlesite.com/local/nolej/edit.php?documentid=abcd-efgh",
                "activitiesurl": null
            }
        ]
    }
}}

<div class="text-right mb-3 mt-2">
    <input type="button" class="btn btn-primary" value="{{#str}} createmodule, local_nolej {{/str}}" onclick="location.href='{{{createurl}}}'">
</div>

<div class="table-responsive-xl">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">{{#str}} title, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} created, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} status, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} lastupdate, local_nolej {{/str}}</th>
            <th scope="col">{{#str}} action, local_nolej {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#modules}}
            <tr>
                <td>{{title}}</td>
                <td>{{created}}</td>
                <td>{{status}}</td>
                <td>{{lastupdate}}</td>
                <td>
                    {{#activitiesurl}}
                    <input type="button" class="btn btn-primary mr-2 mb-2 local_nolej_activities" value="{{#str}} activities, local_nolej {{/str}}"
                        onclick="location.href='{{{activitiesurl}}}'">
                    {{/activitiesurl}}
                    {{#editurl}}
                    <input type="button" class="btn btn-secondary mr-2 mb-2 local_nolej_edit" value="{{#str}} editmodule, local_nolej {{/str}}"
                        onclick="location.href='{{{editurl}}}'">
                    {{/editurl}}
                    <input type="button" class="btn btn-danger mr-2 mb-2 local_nolej_delete" data-moduleid="{{moduleid}}" value="{{#str}} deletemodule, local_nolej {{/str}}">
                </td>
            </tr>
        {{/modules}}
    </tbody>
    </table>
</div>
